.list-items:hover{
 background-color: rgb(240, 250, 250);
 /* color: rgb(2, 27, 252); */
 color: rgb(13,202,240) ;
 padding: 5px;   
}
 .menu-thumbnail{
    height: 300px;
    width: 100%;
 
} 
.author-img{
   
    height: 60px;
    width: 60px;
}
 .display-text{
    background-color: rgb(240, 250, 250);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
} 
